/* Navbar Container */
.n-wrapper {
  height: 5vh;
  display: flex;
  justify-content: space-between;
  top: 0;
  font-family: var(--color-family);
}

/* Sticky Navbar */
.sticky-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: antiquewhite;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

/* Left Side */
.n-left {
  flex: 1;
  align-items: center;
  display: flex;
  gap: 2rem;
}

.n-name {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--orange);
  padding-left: 20px;
  animation: bounceAnimation 5.5s infinite;
}

@keyframes bounceAnimation {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px); /* Adjust the distance and timing as desired */
  }
}

/* Right Side */
.n-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 400;
}

/* Navigation List */
.n-list {
  flex: 10;
}

.n-list > ul {
  display: flex;
  gap: 2rem;
  margin-right: 2rem; /* Adjusted margin for better spacing */
}

.n-list > ul :hover {
  color: var(--orange);
  cursor: pointer;
  transition: color 0.3s ease-in-out; /* Add a smooth transition effect */
}

/* Contact Button */
.n-button {
  flex: 2;
  padding: 0.5rem 1rem;
  background-color: var(--orange);
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.n-button:hover {
  background-color: darkorange;
  color: white;
}

/* Responsive */
@media screen and (max-width: 480px) {
  .n-list {
    display: none;
  }
}
