.footer--container {
  display: flex;
  padding: 106.667px 85.333px;
  flex-direction: column;
  align-items: flex-start;
  background: #0a0917;
}

.navbar--content {
  cursor: pointer;
  background-size: cover;
  width: 10%;
}

/* .navbar--content > svg {
  background-color: rgb(167, 234, 212);
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
} */

.navbar--content > svg:hover {
  transform: scale(1.5);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.footer--social--icon {
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.footer--link--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.footer--items > ul {
  list-style: none;
  display: flex;
  align-items: flex-start;
  gap: 42.667px;
  text-decoration: none;
  cursor: pointer;
  color: aliceblue;
}

.footer--items ul > li > a {
  text-decoration: none;
}

/* .footer--social--icon a:hover:nth-child(1) {
  background-size: cover;
  color: rgb(30, 168, 40);
} */

.footer--items ul > li > a:hover {
  color: rgb(57, 208, 175);
}

.footer--social--icon > ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
  text-decoration: none;
  cursor: pointer;
}

.divider {
  margin: 106px 0 42.67px;
  height: 1.333px;
  width: 100%;
  background: rgba(40, 41, 56, 0.55);
}

.footer--content--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.footer--content {
  color: var(--black);
  font-size: 18.667px;
  font-weight: 400;
  line-height: 28px;
}

/* Responsive Screens */
@media only screen and (max-width: 1800px) {
  .hero--section--title {
    font-size: 68px;
    line-height: 70px;
  }

  .skills--section--title {
    font-size: 28px;
    line-height: 40px;
  }
}

@media only screen and (max-width: 1600px) {
  .skills--section--heading {
    font-size: 54px;
    line-height: 70px;
  }

  .skills--section--container {
    gap: 16px;
  }

  .skills--section--card {
    gap: 28px;
  }

  .skills--section--card--content {
    gap: 20px;
  }

  .skills--section--title {
    font-size: 23px;
    line-height: 30px;
  }

  .skills--section--description {
    font-size: 17.333px;
    line-height: 27px;
  }
}

@media only screen and (max-width: 1200px) {
  .btn-outline-primary {
    display: none;
  }

  .hero--section {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 70px;
  }

  .hero--section--title,
  .hero--section-description,
  .footer--content {
    text-align: center;
  }

  .skills--section--container,
  .about--section,
  .portfolio--section--container,
  .portfolio--container-box,
  .footer--link--container,
  .footer--items > ul,
  .footer--content--container {
    display: flex;
    flex-direction: column;
  }

  .skills--section,
  .portfolio--container,
  .hero--section--content,
  .hero--section--content--box {
    align-items: center;
  }

  .portfolio--container-box {
    gap: 30px;
  }

  .skills--section,
  .testimonial--section,
  .contact--section,
  .footer--container {
    gap: 20px;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .about--section {
    gap: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .testimonial--section--card {
    padding: 25px;
  }

  .hero--section--title,
  .skills--section--heading,
  .sections--heading {
    font-size: 35px;
    line-height: 40px;
  }

  .hero--section--content--box {
    gap: 10px;
  }

  .contact--form--container {
    width: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footer--social--icon > ul,
  .footer--items > ul {
    padding: 0;
    align-items: center;
  }

  .divider {
    margin: 20px;
  }
}

.nav__hamburger__line {
  display: block;
  height: 0.188rem;
  width: 100%;
  background-color: #000;
  border-radius: 0.625rem;
  transition: all ease-in-out 0.2s;
}

@media screen and (max-width: 1200px) {
  .nav__hamburger {
    display: flex;
    z-index: 200;
  }

  .navbar--items ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 3rem 0 0.6rem;
    z-index: -100;
  }

  .navbar--items ul li {
    text-align: center;
  }

  .navbar--items ul li a {
    padding: 0.5rem;
  }

  .navbar--items {
    z-index: -1000;
  }

  .navbar--items.active {
    top: 30px;
  }

  .nav__hamburger.active :nth-child(1) {
    transform: rotate(45deg) translate(0.45rem, 0.1875rem);
  }

  .nav__hamburger.active :nth-child(2) {
    opacity: 0;
  }

  .nav__hamburger.active :nth-child(3) {
    transform: rotate(-45deg) translate(0.45rem, -0.1875rem);
  }
}
