/* Footer.css */
.footer {
  background: var(--blue-card);
  font-family: var(--color-family);
  margin-bottom: 4rem;
}

footer a {
  color: var(--orange);
  text-decoration: none;
}

.footer-socials a {
  background: var(--color-bg);
  color: var(--color-white);
  padding: 0.9rem;
  display: flex;
  border: 1px solid transparent;
  border-radius: 5px;
}

footer a:hover {
  color: rgb(156, 26, 26);
}

.footer-logo {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  display: inline-block;
}

.permalinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 3rem;
  list-style: none;
  text-decoration: none;
}

.footer-socials {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 4rem;
}

.footer-socials a:hover {
  background: transparent;
  color: var(--color-bg);
  border-color: var(--color-bg);
}

.footer-copyright {
  margin-bottom: 4rem;
  color: var(--color-bg);
}

@media screen and (width <= 960px) { /* Corrected the media query syntax */
  .permalinks {
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 2.6rem;
    justify-content: center;
    display: none;
  }

  .footer-socials {
    margin-bottom: 2.6rem;
  }

  .contact-container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .footer-logo {
    display: block; /* Change to block to take full width */
    margin: 0 auto;
    margin-bottom: 4rem;
  }

  .footer-logo:hover {
    background-color: var(--orange);
  }

  .footer-copyright {
    padding-left: 3rem;
  }
}
